# Terraform - não versionar artefatos
**/.terraform/*
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Providers/ZIPs locais
**/terraform-provider-*/**
terraform_*.zip
