# Terraform - não versionar artefatos
# Terraform
# Estado do Terraform
*.tfstate
*.tfstate.*

# Pasta interna do Terraform
.terraform/

# Arquivos de lock e crash
crash.log
*.tfvars.backup
.terraform.lock.hcl

# Overrides locais
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variáveis sensíveis
terraform.tfvars
*.tfvars


terraform.tfvars
*.auto.tfvars
